/* styling for entire page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: #4C1357;
}

header {
  padding: 15px;
  background-color: #ffc107;
}

/* stlying for h1 header */
 h1 {
  display: inline-block;
  font-size: 50px;
  color: #4C1357;
  padding: 10px 15px;
}

/* styling for navigation bar */
 nav {
  margin-right: 20px;
  float: right;
  font-size: 20px;
  padding-top: 30px;
  font-weight: bolder;
}

 header nav ul li {
  display: inline-block;
  margin-left: 20px;
}

ul {
  padding-right: 15px;
  padding-top: 8px;
}

a {
  text-decoration: none;
}

nav ul li a:hover{
  color: black;
  font-weight: 400;
  background-color: antiquewhite;
}

.hero-banner {
  background-image: url("../images/groovy-background_.jpg");
  width: 100%;
  background-position: center;
  height: 400px;
  margin-bottom: 25px;
  position: static;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

body {
  background-color: rgb(204, 197, 185);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

div h2 {
  display: inline-block;
  position: relative;
  background-color: #ffc107;
  padding: 10px;
  left: 1025px;
  bottom: 60px;
  font-weight: bold;
}

div img {
  display: inline-block;
  z-index: 1;
  bottom: -40px;
  position: relative;
  margin: 60px;
  size-adjust: 130%;  
}

/* project grid space */
.projectGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  border: #4C1357 3px;
  cursor: pointer;
  align-content: end;
}

.projectGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 250px 250px 250px 250px;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "code-refactor code-refactor"
  "code-refactor code-refactor"
  "led-wall calculator-image"
  "pastel-puzzels run-buddy"
  ;
}

#code-refactor {
  grid-area: code-refactor;
  background-image: url("../images/crc.png");
  }

#led-wall {
  grid-area: led-wall;
  background-image: url("../images/02-portfolio-1.jpg");
}

#calculator-image {
  grid-area: calculator-image;
  background-image: url("../images/02-portfolio-2.jpg");
}

#pastel-puzzels {
  grid-area: pastel-puzzels;
  background-image: url("../images/02-portfolio-3.jpg");
}

#run-buddy {
  grid-area: run-buddy;
  background-image: url("../images/02-run-buddy.jpg");
}

.heading {
  display: inline-block;
  background-color: rgba(255, 197, 7, 0.7);
  font-weight: 600;
  font-size: 20px;
  padding-left: 2px;
  border-bottom: 2px solid #4C1357;
  border-left: 2px solid #4C1357;
}

.page-section, .page-section-contact, footer{
  margin-left: 95px;
  margin-right: 95px;
}

section div h3 {
  margin-left: 95px;
  margin-right: 95px;  
}

section h3 {
  display: inline-block;
  text-decoration: underline;
  background-color: #ffc107;
  font-size: 30px;
  margin-bottom: 10px;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: bolder;
  
}

section div div:hover{
  color: black;
  font-weight: 400;
  background-color: #ffc107;
}


/* footer section */
footer h4 {
  display: block;
  font-weight: bold;
  text-align: center;
}

footer p {
  display: block;
  text-align: center;
}

